body{
    background: rgb(0,0,0);
    overflow: hidden;
}
#logo{
    width:8%;
}

#coding_img{
    width:30%;
}
#coding_img:hover{
    content: url("images/skills/coding1.png");
}
#webd_img{
    width:30%;
    margin-left: 4%;
}
#webd_img:hover{
    content: url("images/skills/webd1.png");
}
#editing_img{
    width:30%;
    margin-left: 4%;
}
#editing_img:hover{
    content: url("images/skills/editing1.png");
}

#images{
    margin-left: 2%;
    margin-top: 11%;
}

   
@font-face{
    font-family: Pirata One;
    src:url(/fonts/pirata_one.ttf)
}
@font-face{
    font-family:Fondamento;
    src:url(/fonts/Fondamento-Regular.ttf)
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#coding_text{
    position: absolute;
          font-family: 'Fondamento';
          font-size: 5vw;
          color: #7a7f87;
          margin-top: -7%;
          margin-left: 8%;
          background: linear-gradient(to left, 
          #fa3a00 10%, #faa300 60%, #facd00 30%);
                background-size: auto auto; 
                background-clip: border-box;
                background-size: 200% auto;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: textclip 2s linear infinite;
}
#webd_text{
    position: absolute;
          font-family: 'Fondamento';
          font-size: 4.5vw;
          color: #7a7f87;
          margin-top: -6.5%;
          margin-left: 32%;
          background: linear-gradient(to left, 
          #00f9fa 10%, #0090fa 60%, #009cfa 30%);
                background-size: auto auto; 
                background-clip: border-box;
                background-size: 200% auto;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: textclip 4s linear infinite;
}
#webd_text1{
    display: none;
}
#editing_text{
    position: absolute;
          font-family: 'Fondamento';
          font-size: 4.5vw;
          color: #7a7f87;
          margin-top: -6.4%;
          margin-left:76%;
          background: linear-gradient(to left, 
          #dffa00 10%, #98fa00 60%, #65fa00 30%);
                background-size: auto auto; 
                background-clip: border-box;
                background-size: 200% auto;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: textclip 2s linear infinite;
}
#text{
    margin-top: 10%;
    margin-left: 1%;
}
/* ________________________________________Dropdown Content________________________ */

#menu_icon{
    width:3%;
 margin-top: -45%;
 float: right;
 margin-right: 1%;
 cursor: pointer;
}

  .dropdown{
    position: relative;
}
#dropdown-content {
    width:2.5%;
    margin-top: -45%;
    float: right;
    margin-right: 0%;
  display: none;

  background-color:black;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;

}

/* Links inside the dropdown */
#dropdown-content a {
  color: white;
  size: 1;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: 'Pirata One', cursive;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover { background: rgb(33,150,217);
    background: linear-gradient(138deg, rgba(33,150,217,1) 0%, rgba(0,156,250,1) 30%, rgba(0,250,33,1) 68%);}

/* Show the dropdown menu on hover */
#dropdown-content:hover {display: block;}

/*___________________________DropDown end____________________________________________________*/
.rectangle{
    background-color: #262424;
    width:5900px;
    max-height: 130px;
    margin-top:-50%;
    margin-left: -10%;
    
}


  /*******************************************************************************************************
  ********************************************************************************************************
  *********************************************1st***********************************************************
  **************************************************************************************************
  ********************************************************************************************************
  *******************************************************************************************************/

  @media screen and (max-width:900px)
  {
 
    body{
        background: rgb(0,0,0);
        overflow: hidden;
    }
    #logo{
        width:8%;
    }
    #images{
        position: relative;
    }
    
    #coding_img{
        width:30%;
    }
    #coding_img:hover{
        content: url("images/skills/coding1.png");
    }
    #webd_img{
      
        width:30%;
        margin-left: 4%;
    }
    #webd_img:hover{
        content: url("images/skills/webd1.png");
    }
    #editing_img{
        width:30%;
        margin-left: 4%;
    }
    #editing_img:hover{
        content: url("images/skills/editing1.png");
    }
    
    #images{
        margin-left: 2%;
        margin-top: 11%;
    }
    
       
    @font-face{
        font-family: Pirata One;
        src:url(/fonts/pirata_one.ttf)
    }
    @font-face{
        font-family:Fondamento;
        src:url(/fonts/Fondamento-Regular.ttf)
    }
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
    #coding_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 5vw;
              color: #7a7f87;
              margin-top: -7%;
              margin-left: 8%;
              background: linear-gradient(to left, 
              #fa3a00 10%, #faa300 60%, #facd00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #webd_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 4.5vw;
              color: #7a7f87;
              margin-top: -6.5%;
              margin-left: 32%;
              background: linear-gradient(to left, 
              #00f9fa 10%, #0090fa 60%, #009cfa 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 4s linear infinite;
    }
    #webd_text1{
        display: none;
    }
    #editing_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 4.5vw;
              color: #7a7f87;
              margin-top: -6.4%;
              margin-left:76%;
              background: linear-gradient(to left, 
              #dffa00 10%, #98fa00 60%, #65fa00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #text{
        position: relative;
        margin-top: 22%;
        margin-left: 0.2%;
    }
    /* ________________________________________Dropdown Content________________________ */
    
    #menu_icon{
        width:3%;
     margin-top: -56%;
     float: right;
     margin-right: 1%;
     cursor: pointer;
    }
    
      .dropdown{
        position: relative;
    }
    #dropdown-content {
        width:2.5%;
        margin-top: -56%;
        float: right;
        margin-right: 0%;
      display: none;
    
      background-color:black;
      width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      cursor: pointer;
    
    }
    
    /* Links inside the dropdown */
    #dropdown-content a {
      color: white;
      size: 1;
      padding: 10px 12px;
      text-decoration: none;
      display: block;
      font-size: 20px;
      font-family: 'Pirata One', cursive;
    }
    
    /* Change color of dropdown links on hover */
    #dropdown-content a:hover { background: rgb(33,150,217);
        background: linear-gradient(138deg, rgba(33,150,217,1) 0%, rgba(0,156,250,1) 30%, rgba(0,250,33,1) 68%);}
    
    /* Show the dropdown menu on hover */
    #dropdown:hover .dropdown-content {display: block;}
    
    /*___________________________DropDown end____________________________________________________*/
 

}

   /*******************************************************************************************************
  ********************************************************************************************************
  *********************************************2nd***********************************************************
  **************************************************************************************************
  ********************************************************************************************************
  *******************************************************************************************************/

  @media screen and (max-width:750px)
  {
 
    body{
        background: rgb(0,0,0);
        overflow: hidden;
    }
    #logo{
        width:8%;
    }
    #images{
        position: relative;
    }
    
    #coding_img{
        width:37%;
        margin-left: 6.7%;
    }
    #coding_img:hover{
        content: url("images/skills/coding1.png");
    }
    #webd_img{
      
        width:37%;
        margin-left: 10%;
    }
    #webd_img:hover{
        content: url("images/skills/webd1.png");
    }
    #editing_img{
        width:37%;
        margin-left: 29.5%;
    }
    #editing_img:hover{
        content: url("images/skills/editing1.png");
    }
    
    
    #images{
        margin-left: 2%;
        margin-top: 11%;
    }
    
       
    @font-face{
        font-family: Pirata One;
        src:url(/fonts/pirata_one.ttf)
    }
    @font-face{
        font-family:Fondamento;
        src:url(/fonts/Fondamento-Regular.ttf)
    }
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
    #coding_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 6vw;
              color: #7a7f87;
              margin-top: -8%;
              margin-left: 17%;
              background: linear-gradient(to left, 
              #fa3a00 10%, #faa300 60%, #facd00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #webd_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 5.5vw;
              color: #7a7f87;
              margin-top: -7.5%;
              margin-left: 52%;
              background: linear-gradient(to left, 
              #00f9fa 10%, #0090fa 60%, #009cfa 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 4s linear infinite;
    }
    #webd_text1{
        display: none;
    }
    #editing_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 6vw;
              color: #7a7f87;
              margin-top: 30.5%;
              margin-left:40%;
              background: linear-gradient(to left, 
              #dffa00 10%, #98fa00 60%, #65fa00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #text{
        position: relative;
        margin-top: 10%;
        margin-left: 0.2%;
    }
    /* ________________________________________Dropdown Content________________________ */
    
    #menu_icon{
        width:3%;
     margin-top: -89%;
     float: right;
     margin-right: 3.7%;
     cursor: pointer;
    }
    
      .dropdown{
        position: relative;
    }
    #dropdown-content {
        width:2.5%;
        margin-top: -89%;
        float: right;
        margin-right: 0%;
      display: none;
    
      background-color:black;
      width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      cursor: pointer;
    
    }
    
    /* Links inside the dropdown */
    #dropdown-content a {
      color: white;
      size: 1;
      padding: 10px 12px;
      text-decoration: none;
      display: block;
      font-size: 15px;
      font-family: 'Pirata One', cursive;
    }
    
    /* Change color of dropdown links on hover */
    #dropdown-content a:hover { background: rgb(33,150,217);
        background: linear-gradient(138deg, rgba(33,150,217,1) 0%, rgba(0,156,250,1) 30%, rgba(0,250,33,1) 68%);}
    
    /* Show the dropdown menu on hover */
    #dropdown:hover .dropdown-content {display: block;}
    
    /*___________________________DropDown end____________________________________________________*/
    .rectangle{
        background-color: #262424;
        width:5900px;
        height: 45px;
        margin-top:-91%;
        margin-left: -10%;
        
    }

}
  /*******************************************************************************************************
  ********************************************************************************************************
  *********************************************3rd(last)***********************************************************
  **************************************************************************************************
  ********************************************************************************************************
  *******************************************************************************************************/

  @media screen and (max-width:600px)
  {
 
    body{
        background: rgb(0,0,0);
        overflow: hidden;
    }
    #logo{
        margin-left: 1%;
        width:18%;
    }
    #images{
        position: relative;
    }
    
    #coding_img{
        width:43.5%;
        margin-left: 2.7%;
        margin-top: -8%;
    }
    #coding_img:hover{
        content: url("images/skills/coding1.png");
    }
    #webd_img{
        width:43%;
        margin-left: 50%;
        margin-top: -8%;
    }
    #webd_img:hover{
        content: url("images/skills/webd1.png");
    }
    #editing_img{
        width:45%;
        margin-left: 2.7%;
        margin-top: -3.5%;
    }
    #editing_img:hover{
        content: url("images/skills/editing1.png");
    }
    
    
    #images{
        margin-left: 2%;
        margin-top: 11%;
    }
    
       
    @font-face{
        font-family: Pirata One;
        src:url(/fonts/pirata_one.ttf)
    }
    @font-face{
        font-family:Fondamento;
        src:url(/fonts/Fondamento-Regular.ttf)
    }
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
    #coding_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 10vw;
              color: #7a7f87;
              margin-top: 3%;
              margin-left: 52%;
              background: linear-gradient(to left, 
              #fa3a00 10%, #faa300 60%, #facd00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #webd_text1{
        display: block;
        line-break: normal;
        position: absolute;
              font-family: 'Fondamento';
              font-size: 8vw;
              color: #7a7f87;
              margin-top: 40%;
              margin-left: 3%;
              background: linear-gradient(to left, 
              #00f9fa 10%, #0090fa 60%, #009cfa 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 4s linear infinite;
    }
    #webd_text{
        display: none;
    }
    #editing_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 10vw;
              color: #7a7f87;
              margin-top: 82.5%;
              margin-left:52%;
              background: linear-gradient(to left, 
              #dffa00 10%, #98fa00 60%, #65fa00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #text{
        position: relative;
        margin-top: 10%;
        margin-left: 0.2%;
    }
    /* ________________________________________Dropdown Content________________________ */
    
    #menu_icon{
        width:7%;
     margin-top: -133.4%;
     float: right;
     margin-right: 0.5%;
     cursor: pointer;
    }
    
      .dropdown{
        position: relative;
    }
    #dropdown-content {
        width:2.5%;
        margin-top: -138%;
        float: right;
        margin-right: -3%;
      display: none;
    
      background-color:black;
      width: 90px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      cursor: pointer;
    
    }
    
    /* Links inside the dropdown */
    #dropdown-content a {
      color: white;
      size: 1;
      padding: 10px 12px;
      text-decoration: none;
      display: block;
      font-size: 15px;
      font-family: 'Pirata One', cursive;
    }
    
    /* Change color of dropdown links on hover */
    #dropdown-content a:hover { background: rgb(33,150,217);
        background: linear-gradient(138deg, rgba(33,150,217,1) 0%, rgba(0,156,250,1) 30%, rgba(0,250,33,1) 68%);}
    
    /* Show the dropdown menu on hover */
    #dropdown:hover .dropdown-content {display: block;}
    
    /*___________________________DropDown end____________________________________________________*/
    .rectangle{
        background-color: #262424;
        width:590px;
        height: 67px;
        margin-top:-136%;
        margin-left: -1.5%;
        
    }


}
  /*******************************************************************************************************
  ********************************************************************************************************
  *********************************************Mobile***********************************************************
  **************************************************************************************************
  ********************************************************************************************************
  *******************************************************************************************************/

  @media screen and (max-width:414px)
  {
      #wrapper{
          width: 100%;
          overflow-x: hidden;
         
      
      }
 
 
    body{
        background: rgb(0,0,0);
        overflow-y: scroll;
    

    }
    #logo{
        margin-left: 1%;
        width:20%;
    }
   
    #images{
        position: relative;
    }
    
    #coding_img{
        width:90.5%;
        margin-left: 3.5%;
        margin-top: 20%;
    }
    #coding_img:hover{
        content: url("images/skills/coding1.png");
    }
    #webd_img{
        width:91%;
        margin-left: 4%;
        margin-top: 50%;
    }
    #webd_img:hover{
        content: url("images/skills/webd1.png");
    }
    #editing_img{
        width:93.5%;
        margin-left: 3%;
        margin-top: 27%;
    }
    #editing_img:hover{
        content: url("images/skills/editing1.png");
    }
    
    
    #images{
        margin-left: 2%;
        margin-top: 11%;
    }
    
       
    @font-face{
        font-family: Pirata One;
        src:url(/fonts/pirata_one.ttf)
    }
    @font-face{
        font-family:Fondamento;
        src:url(/fonts/Fondamento-Regular.ttf)
    }
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
    #coding_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 18vw;
              color: #7a7f87;
              margin-top:-5%;
              margin-left: 20%;
              background: linear-gradient(to left, 
              #fa3a00 10%, #faa300 60%, #facd00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #webd_text1{
        display: block;
        line-break: normal;
        position: absolute;
              font-family: 'Fondamento';
              font-size: 15vw;
              color: #7a7f87;
              margin-top: 115%;
              margin-left: 7%;
              background: linear-gradient(to left, 
              #00f9fa 10%, #0090fa 60%, #009cfa 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 4s linear infinite;
    }
    #webd_text{
        display: none;
    }
    #editing_text{
        position: absolute;
              font-family: 'Fondamento';
              font-size: 18.5vw;
              color: #7a7f87;
              margin-top:252.5%;
              margin-left:22%;
              background: linear-gradient(to left, 
              #dffa00 10%, #98fa00 60%, #65fa00 30%);
                    background-size: auto auto; 
                    background-clip: border-box;
                    background-size: 200% auto;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textclip 2s linear infinite;
    }
    #text{
        position: relative;
        margin-top: 10%;
        margin-left: 0.2%;
    }
    /* ________________________________________Dropdown Content________________________ */
    
    #menu_icon{
        width:7.5%;
     margin-top: -390%;
     float: right;
     margin-right: 0.5%;
     cursor: pointer;
    }
    
      .dropdown{
        position: relative;
    }
    #dropdown-content {
        width:2.5%;
        margin-top: -392%;
        float: right;
        margin-right: -2.5%;
      display: none;
    
      background-color:black;
      width:85px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      cursor: pointer;
    
    }
    
    /* Links inside the dropdown */
    #dropdown-content a {
      color: white;
      size: 1;
      padding: 5px 12px;
      text-decoration: none;
      display: block;
      font-size: 18px;
      font-family: 'Pirata One', cursive;
    }
    
    /* Change color of dropdown links on hover */
    #dropdown-content a:hover { background: rgb(33,150,217);
        background: linear-gradient(138deg, rgba(33,150,217,1) 0%, rgba(0,156,250,1) 30%, rgba(0,250,33,1) 68%);}
    
        #dropdown-content:hover{display: block;}

    
    /*___________________________DropDown end____________________________________________________*/


}
